@tailwind base;
@tailwind components;
@tailwind utilities;
@config '../tailwind.config.ts';

@layer base {
  body {
    /* This will now pull the NEW dark 'background' and 'on-background' colors */
    @apply bg-background text-on-background;
  }
}