.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* Floating glass effect */
  background-color: #20202060; /* Slight transparency */
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-bottom: 1px solid var(--border-subtle);
  box-shadow: var(--shadow-elevation-high); /* Floating shadow */

  position: sticky;
  z-index: 10;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 700;
  color: var(--foreground);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
}

.navLink:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}

.authLinks {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  justify-content: center;
  background-color: var(--accent);
  color: var(--background);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.authLinks:hover {
  background-color: var(--background);
  color: var(--accent);
}

.authlink {
  font-size: 1rem;
  font-weight: 700;
  color: var(--foreground);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
}

.authLink:hover {
  border-bottom-color: var(--accent);
}
